section .container .row .BestRestaurants-title h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
}
section .container .row .BestRestaurants-hr  {
        max-width: 241px;
        height: 3px;
        background-color: rgba(237, 184, 44, 1);
        margin-bottom: 10px;
}
section .container .row .BestRestaurants-title p {
            font-size: 16px;
            font-weight: 400;
}
.loader {
        border: 8px solid #f3f3f3;
        /*Lightgrey*/border-top: 8px solid rgba(237, 184, 44, 1);
        /*Blue*/border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        margin: 0 auto;
        -webkit-animation: spin 1s linear infinite;
}
@keyframes spin {
        0% {
                transform: rotate(0deg);
        }

        100% {
                transform: rotate(360deg);
        }
}