.f-card {
    background-image: url(../Assets/f-card.png);
    background-position: center center;
    background-size: cover;
}

.s-card {
    background-image: url(../Assets/s-card.png);
    background-position: center center;
    background-size: cover;
}

.CategoriesNavigator-card {
    color: rgba(255, 255, 255, 1);
    max-width: 601.56px;
    height: 560px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* تغيير المحاذاة بحيث يكون النص في منتصف البطاقة */
    justify-content: center;
    padding: 20px;
    position: relative;
    /* لضمان ظهور النص والزرار بشكل مناسب */
    overflow: hidden;
    /* لإخفاء النص والزرار في البداية */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.CategoriesNavigator-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.CategoriesNavigator-card .card-content {
    text-align: center;
    /* محاذاة النص داخل البطاقة */
    opacity: 0;
    /* إخفاء المحتوى عند بداية التحميل */
    transform: translateY(20px);
    /* نقل المحتوى إلى الأسفل عند البداية */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* إضافة تأثيرات انتقالية */
}

.CategoriesNavigator-card:hover .card-content {
    opacity: 1;
    /* إظهار المحتوى عند المرور */
    transform: translateY(0);
    /* إعادة المحتوى إلى مكانه الطبيعي */
}

.CategoriesNavigator-card .card-text h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.CategoriesNavigator-card .card-text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.CategoriesNavigator-card .card-button {
    margin-bottom: 25px;
}

.CategoriesNavigator-card .card-button button {
    width: 163.34px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(237, 184, 44, 1);
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.CategoriesNavigator-card .card-button button:hover {
    background-color: rgba(204, 153, 0, 1);
}

/* تحسين التخطيط لأعمدة الشاشات الصغيرة */
@media (max-width: 1200px) {
    .CategoriesNavigator-card {
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .CategoriesNavigator-card .card-text h3 {
        font-size: 28px;
    }

    .CategoriesNavigator-card .card-text p {
        font-size: 14px;
    }

    .CategoriesNavigator-card .card-button button {
        width: 140px;
        height: 45px;
        font-size: 13px;
    }
}