.custom-footer {
        background-color: rgba(212, 221, 183, 1);
        /* اللون الأصلي للفوتر */
}

footer h5 {
        font-size: 20px;
        font-weight: 600;
        color: #333;
        margin-bottom: 20px;
}

footer ul li {
        margin-bottom: 10px;
}
footer ul li a {
        color: black;
}

footer .form-control {
        border-radius: 25px;
        padding: 10px;
}

footer .btn-warning {
        background-color: #d0a226;
        border: none;
        border-radius: 25px;
        color: white;
}

footer .btn-warning:hover {
        background-color: #b4891d;
}

footer .text-muted {
        font-size: 14px;
        color: #6c757d;
}

footer .text-dark {
        color: #333;
}

footer a {
        text-decoration: none;
}