.navbar .container ul .nav-item a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.navbar .container ul .nav-item a {
    color: #112211;
    position: relative;
}
.navbar .container ul .nav-item a {
    position: relative;
    /* إضافة هذه السطر */
}

.navbar .container ul .nav-item .link::before {
    content: "";
    bottom: -11px;
    left: 0;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FF7757;
    transition: width 0.5s;
}

.navbar .container ul .nav-item .link:hover::before {
    width: 100%;
}
.navbar .container .logo img {
    width: 16.01px;
    height: 21.99px;
}
.navbar .container .logo  {
    font-size: 24px;
    font-weight: 600;
}

.navbar .container .user-image img {
    width: 50px;
    height: 50px;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.navbar .fa-heart {
    color: rgb(215, 1, 1);
}
.navbar .fa-bell {
    color: rgb(230, 195, 0);
}
.navbar .fa-search {
    color: gray;
}
.navbar .fa {
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.navbar .fa {
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 50%;
    /* يجعل الخلفية دائرية */
    padding: 8px;
    /* مسافة داخلية للأيقونة */
}

.navbar .fa:hover {
    background-color: rgba(128, 128, 128, 0.15);
    transform: scale(1.2);
    /* تكبير الأيقونة قليلاً */
    cursor: pointer;
    /* تغيير شكل المؤشر */
}