.navbar .container ul .nav-item a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.navbar .container ul .nav-item a {
    color: #112211;
    position: relative;
}
.navbar .container ul .nav-item a {
    position: relative;
    /* إضافة هذه السطر */
}

.navbar .container ul .nav-item a::before {
    content: "";
    bottom: -10px;
    left: 0;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FF7757;
    transition: width 0.5s;
}

.navbar .container ul .nav-item a:hover::before {
    width: 100%;
    background-color: red;
}
.navbar .container .logo img {
    width: 16.01px;
    height: 21.99px;
}
.navbar .container .logo  {
    font-size: 24px;
    font-weight: 600;
}

.navbar .container .user-image img {
    width: 50px;
    height: 50px;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
