section .container .row .card {
        max-width: 389px;
        height: 122px;
        -o-border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 6px 0 black;
}
section .container .row .card .card-text h3 {
        font-size: 17px;
        font-weight: 700;
}
section .container .row .card .card-text p {
        font-size: 14px;
        font-weight: 500;
}
section .container .row .card .card-image {
    width: 89.93px;
    height: 90px;
}
section .container .row .card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}