/* إضافة box-sizing لجميع العناصر */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* الحاوية الرئيسية */
section {
    overflow-x: hidden;
    /* منع التمرير الأفقي */
}

/* تعديلات على صورة ResetPasswordImage */
section .container .row .ResetPasswordImage {
    width: 100%;
    max-width: 600px;
    max-height: 445px;
}

section .container .row .ResetPasswordImage img {
    width: 100%;
    height: auto;
    /* الحفاظ على نسبة العرض والارتفاع */
}

/* تصميم الرابط العودة لتسجيل الدخول */
section .container .row .resetPassword-link a {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

/* العنوان */
section .container .row .resetPassword-title h3 {
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

section .container .row .resetPassword-title p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(161, 168, 176, 1);
}

/* تعديل المدخلات */
section .container .row form input {
    width: 100%;
    max-width: 545px;
    height: 59px;
    border-radius: 10px;
    border: 1px solid rgba(229, 231, 235, 1);
    text-align: right;
}

section .container .row form input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(161, 168, 176, 1);
    padding-right: 15px;
}

/* تعديل الزر */
section .container .row .resetPassword-button button {
    background-color: rgba(237, 184, 44, 1);
    width: 100%;
    /* اجعل الزر مرن */
    height: 49px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
}