/* الصورة الرئيسية */
.single-place-section .container .row .place-main-image {
    max-width: 523px;
    max-height: 572px;
    overflow: hidden;
}

.single-place-section .container .row .place-main-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* الصور الفرعية */
.single-place-section .container .row .place-thumbnail {
    max-width: 301px;
    height: 267px;
}

.single-place-section .container .row .place-thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin: 0 auto;
}

/* عنوان المكان */
.single-place-section .container .row .place-info .place-name {
    font-size: 60px;
    font-weight: 700;
}

/* أوقات العمل */
.single-place-section .container .row .place-info .place-timing p {
    font-size: 32px;
    font-weight: 500;
}

/* التقييمات */
.single-place-section .container .row .place-rating .rating-details p {
    font-size: 32px;
    font-weight: 600;
}

.single-place-section .container .row .place-rating .rating-heart {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: rgba(237, 184, 44, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.single-place-section .container .row .place-rating .rating-heart:hover .fa-heart{
    transform: scale(2.2);
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -ms-transform: scale(2.2);
    -o-transform: scale(2.2);
}
.single-place-section .container .row .place-rating .rating-heart .fa-heart {
    font-size: 25px;
    color: red;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
/* عنوان الخريطة */
.single-place-section .container .row .map-title h3 {
    font-size: 60px;
    font-weight: 700;
}

/* الخريطة */
.single-place-section .container .row .place-map {
    max-width: 1241px;
    height: 450px;
    border-radius: 15px;
}

/* عنوان التقييمات */
.single-place-section .container .row .reviews-title h3 {
    font-size: 60px;
    font-weight: 700;
}

.single-place-section .container .row .reviews-list {
    width: 1240px;
    height: 276px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.single-place-section .container .row .rating {
        font-size: 32px;
        font-weight: 600;
        color: rgba(53, 53, 53, 1);
}
.single-place-section .container .row .reviews_count {
        font-size: 32px;
        font-weight: 600;
        color: rgba(171, 171, 171, 1);
}
.single-place-section .container .row .open {
    color: rgba(10, 111, 230, 1);
}
.lod {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid rgba(237, 184, 44, 1);
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* بطاقات التقييم */
/* .single-place-section .container .row .reviews-list .rev-card {
    height: 276px;
    border-radius: 16px;
    background-color: red;
} */